* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    

    &::before,&::after {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(62, 209, 153);
}

html {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 62.5%;

}

a,
a:visited {
    color: inherit;
  
}